<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<link rel="stylesheet" href="static/css/base.css" type="text/css" media="screen" charset="utf-8">
		<title>pytt</title>
	</head> <!-- hier muesste jquery rein -->
	<body>
        <div class="wrapper">
            <table style="border: 1px solid #000000;" prevstyle=" " class="layout">
                <tbody>
                    <tr>
                        <td style="border: 1px solid #000000;" prevstyle=" " colspan="3" class="header">
                            <h1><a href="/">pytt - python time tracker</a></h1>                  
                            <h2>{% block title %}{% endblock %}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000000;" prevstyle=" " colspan="3" class="statusbar">[
                        	<a href="/overview">now</a> | 
                            <a href="/properties">current week</a> |
                            <a href="/properties">current month</a> |
                            <a href="/properties">edit properties</a> |
                            <a href="/properties">logout</a> ]
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000000;" prevstyle=" " class="expandable column2">
                            {% block content %}{% endblock %}
                        </td>
                        <!--
                            <td class="width10em column3">
                             <h2>Right Column</h2>
                            </td>
                        //-->
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000000;" prevstyle=" " colspan="10" class="footer">
                            <p>
                                Powered by google app engine
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</body>
</html>
