<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<link rel="stylesheet" href="static/css/base.css" type="text/css" media="screen" charset="utf-8">
	</head> <!-- hier muesste jquery rein -->
	<body>
        <div class="wrapper">
            <table style="border: 1px dashed #AAAAAA;" prevstyle=" " class="layout">
                <tbody>
                    <tr>
                        <td style="border: 1px dashed #AAAAAA;" prevstyle=" " colspan="3" class="header">
                            <h1><a href="/">pytt - python time tracker</a></h1>                  
                            <h2>{% block title %}{% endblock %}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px dashed #AAAAAA;" prevstyle=" " colspan="3" class="statusbar">[ 
                            <a href="%7B%7B=URL%28r=request,f=%27user/login%27%29%7D%7D">login</a> |
                            <a href="%7B%7B=URL%28r=request,f=%27user/register%27%29%7D%7D">register</a> |
                            <a href="%7B%7B=URL%28r=request,f=%27user/retrieve_password%27%29%7D%7D">lost password</a>
                            <a href="%7B%7B=URL%28r=request,f=%27user/logout%27%29%7D%7D">logout</a> |
                            <a href="%7B%7B=URL%28r=request,f=%27user/change_password%27%29%7D%7D">change password</a> |
                            <a href="%7B%7B=URL%28r=request,f=%27user/profile%27%29%7D%7D">edit profile</a> ]
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px dashed #AAAAAA;" prevstyle=" " class="expandable column2">
                            {% block content %}{% endblock %}
                        </td>
                        <!--
                            <td class="width10em column3">
                             <h2>Right Column</h2>
                            </td>
                        //-->
                    </tr>
                    <tr>
                        <td style="border: 1px dashed #AAAAAA;" prevstyle=" " colspan="10" class="footer">
                            <p>
                                Copyright © 2009 -
                                Powered by <a href="http://www.web2py.com">web2py</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</body>
</html>
