{% extends "layout.html" %}
{% block title %}
	Current State
{% endblock %}
{% block content %}
<table>
	<tr><td>worktime:</td><td>{{worktime}}</td></tr>
	<tr><td>overtime:</td><td>{{overtime}}</td></tr>
	<tr><td>start:</td><td>{{start}}</td></tr>
	<tr><td>stop:</td><td>{{stop}}</td></tr>
	<tr><td>worked time:</td><td>{{workedtime_today}}</td></tr>
	<tr><td>finishing time:</td><td>{{finishing_time}}</td></tr>
	<tr><td>time to work:</td><td>{{time_to_work}}</td></tr>
	<tr>
		<td COLSPAN=2>
			<form method="POST" action="/overview">
				<input type="submit" value={{state}} size="25">
			</form>
		</td>
	</tr>	
</table>

{% endblock %}