{% extends "layout.html" %}
{% block title %}
	Current State
{% endblock %}
{% block content %}
<table>
	<tr>
		<td>
			<table>
				 {% for time in times %}
				<tr><td>start:</td><td>{{time.start|date:"d.m.Y H:i:s"}}</td></tr>
				<tr><td>stop:</td><td>{{time.stop|date:"d.m.Y H:i:s"}}</td></tr>
				<tr><td COLSPAN=2><hr /></td></tr>
				{% endfor %}
			</table>
		</td>
		<td>
			<table>
				<tr><td>worked time:</td><td>{{workedtime_today}}</td></tr>
				<tr><td>finishing time:</td><td>{{finishing_time|date:"d.m.Y H:i:s"}}</td></tr>
				<tr><td>time to work:</td><td>{{time_to_work}}</td></tr>
			</table>
		</td>
		<td>
			<table>
				<tr><td>request time:</td><td>{{time|date:"d.m.Y H:i:s"}}</td></tr>
				<tr><td>worktime:</td><td>{{worktime}}</td></tr>
				<tr><td>overtime:</td><td>{{overtime}}</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td COLSPAN=3 align="center" valign="middle">
			<form method="POST" action="/overview">
				<input type="submit" value={{state}} style="width: 100%; height: 40px">
			</form>
		</td>
	</tr>	
</table>

{% endblock %}